@import "./vars.scss";

.btn {

    &-primary {
        border: none;
        background-color: $accent-color;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        width: 150px;
        transition: .2s;

        &:hover {
            background-color: $accent-color-lighter;
        }
    }
    

    
}