


.stock {
    &__container {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        min-width: 300px;
        
    }

    &__inner {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 800px;
        width: 100%;
        min-width: 300px;
        text-align: center;   
    }
}


.error{
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
        min-width: 200px;
    }

    &__link {
        margin: 15px auto 0;
    }
    

    
}