





.error{
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
        min-width: 200px;
    }

    &__link {
        margin: 15px auto 0;
    }
    

    
}